<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> 
    <title>Document</title>
</head>
<body>
    <div id="letter" style="width: 500px; height: 500px; background-color:bisque;">
        <input type="submit" id="save" value="저장">
    </div>
    <script>
        $("#save").on("click", function() {
            sreenShot($("#letter"));
        });
        function sreenShot(target) {
            console.log(target);
            if (target != null && target.length > 0) {
                var t = target[0];
                html2canvas(t).then(function(canvas) {
                    var data = canvas.toDataURL();
                    console.log(data);
                    $.ajax({
                        type : "POST",
                        url: "letterCreate",
                        data : { "data" : data },
                        dataType : "text",
                        success : function(data) {
                            console.log("1");
                        },
                        error : function(a, b, c) {
                            alert("error");
                        }
                    });
                });
        }
    }
    </script>
</body>
</html>